Exercices/workspaces/solutions/BPEL/BPEL-TP2-ComparatifPrixAvion/bpelContent/ComparatifPrixAvionArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:tns="http://bpel.resanet.com/comparatif"
	xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:wsdl="http://compagnie.discount/price"
	xmlns:wsdl1="http://compagnie.chere/price" name="ComparatifPrixAvion"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://bpel.resanet.com/comparatif">

	<!--
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		TYPE DEFINITION - List of types participating in this BPEL process The
		BPEL Designer will generate default request and response types but you
		can define or import any XML Schema type and use them as part of the
		message types.
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	-->


	<import location="CompagnieDiscount.wsdl" namespace="http://compagnie.discount/price" />
	<import location="CompagnieChere.wsdl" namespace="http://compagnie.chere/price" />

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://bpel.resanet.com/comparatif">

			<element name="ComparatifPrixAvionRequest">
				<complexType>
					<sequence>
						<element name="voyage" type="string" />
					</sequence>
				</complexType>
			</element>

			<element name="ComparatifPrixAvionResponse">
				<complexType>
					<sequence>
						<element name="compagnie" type="string" />
						<element name="prix" type="string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>


	<!--
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		MESSAGE TYPE DEFINITION - Definition of the message types used as part
		of the port type defintions
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	-->
	<message name="ComparatifPrixAvionRequestMessage">
		<part element="tns:ComparatifPrixAvionRequest" name="payload" />
	</message>
	<message name="ComparatifPrixAvionResponseMessage">
		<part element="tns:ComparatifPrixAvionResponse" name="payload" />
	</message>

	<!--
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		PORT TYPE DEFINITION - A port type groups a set of operations into a
		logical service unit.
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	-->

	<!-- portType implemented by the ComparatifPrixAvion BPEL process -->
	<portType name="ComparatifPrixAvion">
		<operation name="getPrix">
			<input message="tns:ComparatifPrixAvionRequestMessage" />
			<output message="tns:ComparatifPrixAvionResponseMessage" />
		</operation>
	</portType>






	<!--
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		PARTNER LINK TYPE DEFINITION
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	-->
	<plnk:partnerLinkType name="ComparatifPrixAvion">
		<plnk:role name="ComparatifPrixAvionProvider" portType="tns:ComparatifPrixAvion" />
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="DiscountParnerLinkType">
		<plnk:role name="Provider" portType="wsdl:CieDiscountPortType" />
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="CherePartnerLinkType">
		<plnk:role name="Provider" portType="wsdl1:CieCherePortType" />
	</plnk:partnerLinkType>


	<binding name="ComparatifPrixAvionBinding" type="tns:ComparatifPrixAvion">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getPrix">
			<soap:operation soapAction="http://bpel.resanet.com/comparatif/getPrix" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>


	<service name="ComparatifPrixAvionService">
		<port name="ComparatifPrixAvionPort" binding="tns:ComparatifPrixAvionBinding">
			<soap:address location="http://localhost:8080/ComparatifPrixAvionService" />
		</port>
	</service>


</definitions>
